<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/tron.css">
</head>
<body>
<div class="site">
<div class="header">
	<h1 class="title"><a href="/">{{ site.name }}</a></h1>
</div>

<div class="content">
{% for group in site.data.gfx %}
	<h2>{{ group.name | markdownify }}</h2>
	{% if group.description %}<p>{{ group.description | markdownify }}</p>{% endif %}
	{% if group.pics.first.name or group.pics.first.source %}
	<table>
		{% if group.pics.first.name %}
	<tr>
			{% for pic in group.pics %}
		<td>{{ pic.name | markdownify }}</td>
			{% endfor %}
	</tr>
		{% endif %}
	<tr>
		{% for pic in group.pics %}
	<td><a href="{{ pic.image }}"><img src="{{ pic.thumb }}" alt="{{ pic.name }}" /></a></td>
		{% endfor %}
	</tr>
		{% if group.pics.first.source %}
	<tr>
			{% for pic in group.pics %}
	<td>
	<a href="{{ pic.source }}">Source</a>
	</td>
			{% endfor %}
	</tr>
		{% endif %}
	</table>
	{% else %}
	{% for pic in group.pics %}
	<td><a href="{{ pic.image }}"><img src="{{ pic.thumb }}" alt="{{ pic.name }}" /></a></td>
	{% endfor %}
	{% endif %}
{% endfor %}
</div>
<div class="footer">
	<div class="contact"><a href="contact.html">Contact</a></div>
</div>

</div>
</body>
</html>
