<html>
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/tron.css">
<link rel="shortcut icon" type="image/png" href="/favicon.png" />
</head>
<body>
<div class="site">
<div class="header">
	<h1 class="title"><a href="/">{{ site.name }}</a></h1>
</div>

<div class="content">
{{ content }}
</div>
<div class="footer">
	<div class="contact"><a href="/contact.html">Contact</a></div>
</div>

</div>
</body>
</html>
